*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* creo la classe terminator perchè questo simpaticone di bootstrap aggiunge margini e padding negativi */
.terminator
{
  padding: 0 !important;
  margin: 0 !important;
}
.wrapper
{
  width: 100%;
  height: 100%;
  background-image: url("../img/sfondochat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.wrapper .testa
{
  background-color: #1EBEA5;
  width: 100%;
  height: 150px;
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.mrgtop
{
  margin-top: 5%;
}
.profile
{
  background-color: lightgrey;
}
.profilo-user
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
  border: 1px solid black;
}
.profilo-contatto
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  border: 1px solid black;

}
.proile-sx
{
  display: flex;
  justify-content: flex-start;
}
.proile-sx > p
{
  margin-top: 10px;
  margin-left: 10px;
}
.container-contatti
{
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100%;
}
.colsx
{
border: 1px solid black;
}
.notifiche
{
display: flex;
justify-content: space-between;
padding: 25px;
height: 100px;
background-color: rgb(138, 212, 212);
overflow-x: hidden;/* debug*/
}
.notifiche i
{
  font-size: 2.5rem;
}
.searchbar
{
  padding: 15px;
  height: 50px;
  border: 1px solid black;
  background-color: white;
}
.searchbar input
{
  width: 80%;
overflow-x: hidden;/* debug*/
}
.contatto
{
background-color: white;
padding: 20px;
display: flex;
flex-direction: row;
justify-content: flex-start;
border: 1px solid grey;
width: 100%;

}
.status-contatto
{
  margin-left: 10px;
}
.listacontatti{
position: relative;
width: 100%;
height: calc(75vh - 150px);
overflow-y: scroll;
}
.container-chat
{
  height: calc(70vh - 20px);
  overflow-y: scroll;
  background-image: url("../img/sfondochat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;

  /*debug*/

  /* display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end; */
}
.keyboard
{
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  background-color: white;
  height: 60px;
}
.keyboard input
{
width: 80%;
display: inline-block;
overflow-y: auto;

}
.keyboard i
 {
   font-size: 2em;
 }

 /*finestra del messaggio*/
 #contenitore-mymessages
 {

    margin-right: 10px;
    max-width: 100%;
}


 #template {
  display: none;
}
#template-risp {
 display: none;
}

.msgsent
{
  margin-top: 20px;
  max-width: 100%;
  word-break: break-all;
  height: auto;
  text-align: right;
}
.msgsent .testo {
  background-color: rgb(127, 203, 80);
  padding: 5px 15px;
  display: inline-block;
  border-radius: 20px;
  max-width: 50%;
  height: auto;
  word-wrap: break-word

}

/* per la risposta */
.risposta
{
  margin-top: 30px;
  text-align: left;
}
.risposta .risp-testo {
  background-color: white;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 20px;
  max-width: 100%;
  height: auto;
}
.ora-invio
{
  background-color: rgb(127, 203, 80);
}
.ora-invio-risposta
{
  background-color: white;
}
.active
{
  background-color: rgb(128, 224, 172);
}
.answer
{
  color: black;
  background-color: white;
  display: inline;
  padding: 5px 15px;
}
.avatar
{
  width:50px;
}
.visibile
{
  position: absolute;
  top: 0;
  left: 0;
}
.display-none
{
  display: none;
}
.display-block
{
  display: block !important;
}
.dropdown
{
  position: relative;
}
.dropdown-content
{
  position: absolute;
  top: 20px;
  right: 0;
  display: none;
}
.delete
{
  border-radius: 8px;
  padding: 5px;
  background-color: white;
}
