*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profilo-user
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}
.profilo-contatto
{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 20px;
  border: 1px solid lightgrey;
  background-color: lightgrey;
}
.container-contatti
{
  display: flex;
  flex-direction: column;
}
.notifiche
{
display: flex;
justify-content: space-between;
padding: 25px;
border: 1px solid black;
background-color: rgb(138, 212, 212);
overflow-x: hidden;/* debug*/
}
.notifiche i
{
  font-size: 2.5rem;
}
.searchbar
{
  padding: 15px;
  border: 1px solid black;
}
.contatto
{
padding: 30px;
border: 1px solid black;
}
.listacontatti{
width: 100%;
height: calc(60vh);
overflow-y: scroll;
}
.container-chat
{

  width: 100%;
  height: calc(85vh - 30px);
  overflow-y: scroll;
  background-image: url("../img/sfondochat.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  /*debug*/

  /* display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-end; */
}
.keyboard
{
  padding: 8px;
  border: 1px solid black;
}
.keyboard input
{
width: 80%;
display: inline-block;
overflow-y: auto;

}
.keyboard i
 {
   font-size: 2em;
 }

 /*finestra del messaggio*/
 #contenitore
 {
    margin: 50px 20px;
    text-align: right;
}
 #template {
  display: none;
}

.msgsent
{
  margin-top: 10px;
}
.msgsent .testo {
  background-color: rgb(127, 203, 80);
  display: inline;
  padding: 5px 15px;
}
.ora-invio
{
  background-color: rgb(127, 203, 80);
}
.active
{
  background-color: rgb(128, 224, 172);
}
.answer
{
  color: black;
  background-color: white;
  display: inline;
  padding: 5px 15px;
}
.avatar
{
  width:50px;
}
